<mat-toolbar>
  <span>Text Analyzer</span>
</mat-toolbar>


<main>
  <div class="container row">
    <form [formGroup]="formGroup" (ngSubmit)="analyze()">

      <mat-form-field>
        <mat-label>Text to analyze</mat-label>
        <textarea matInput
                  placeholder='Place your text here'
                  [rows]="10"
                  [cols]="100"
                  [formControl]="getControl(FormKeys.Text)">
      </textarea>
      </mat-form-field>

      <div class="actions">
        <div class="options">
          <div class="toggle-group">
            <p> Analysis mode: </p>
            <app-button-toggle-group [options]="ANALYSIS_MODE"
                                     [control]="getControl(FormKeys.AnalysisMode)">
            </app-button-toggle-group>
          </div>

          <div class="toggle-group">
            <p> Operating mode: </p>
            <app-button-toggle-group [options]="OPERATING_MODE"
                                     [control]="getControl(FormKeys.OperatingMode)">
            </app-button-toggle-group>
          </div>

          <button mat-button type="button" (click)="resetOptions()">Reset selection</button>
        </div>

        <button mat-flat-button
                type="submit"
                [disabled]="formGroup.invalid">
          Analyze
        </button>
      </div>
    </form>
  </div>

</main>
